---
language: python
python: "2.7"
sudo: required
services:
  - docker

before_install:
  - docker --version
install:
  - pip install molecule docker
before_script:
  - export MOLECULE_APTPROXY_PATH="$PWD/00aptproxy" && touch "$MOLECULE_APTPROXY_PATH"
script:
  - molecule test --all

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/