---

- name: Update package cache
  package:
    update_cache: yes
    cache_valid_time: 86400
  become: yes
  when: ansible_os_family != 'Darwin' and not ansible_pkg_mgr is regex('^dnf')

- name: Update package cache (dnf)
  package:
    update_cache: yes
  become: yes
  when: ansible_pkg_mgr == 'dnf'

- name: Install zsh, git, wget, fd-find, fzf
  package:
    name:
      - zsh
      - git
      - wget
      - "{{ 'fd-find' if (ansible_distribution == 'Ubuntu' and ansible_distribution_version is version_compare('20.04', '>=') or ansible_distribution == 'Debian' and ansible_distribution_version is version_compare('11', '>=')) else 'curl' }}"  # fd-find for ubuntu >=20.04 and Debian >=11
      - "{{ 'fd' if ansible_os_family == 'Darwin' else 'curl' }}"
      - "{{ 'fzf' if ansible_os_family == 'Darwin' else 'curl' }}"
    state: present
  # brew don't work from root user on macOS
  become: yes
  become_user: "{{ 'root' if ansible_os_family != 'Darwin' else zsh_user }}"
  when: not (zsh_user == 'root' and ansible_os_family == 'Darwin')

- name: Check if {{ zsh_antigen_path }} exist
  stat:
    path: "{{ zsh_antigen_path }}"
  register: zsh_antigen_path_present

- name: Create directory {{ zsh_antigen_path}}
  become: yes
  become_user: "{{ zsh_user }}"
  file:
    dest: "{{ zsh_antigen_path }}"
    mode: '0755'
    state: directory
  when: not zsh_antigen_path_present.stat.exists

- name: Clone antigen {{ zsh_antigen_version }}
  git:
    repo: "{{ zsh_antigen_repo }}"
    dest: "{{ zsh_antigen_path }}/antigen"
    version: "{{ zsh_antigen_version }}"
    force: yes
  become: yes
  become_user: "{{ zsh_user }}"
  register: zsh_register_antigen_clone

- name: Clone iwfmp/mc-solarized-skin
  git:
    repo: https://github.com/iwfmp/mc-solarized-skin.git
    version: master
    dest: "~{{ zsh_user }}/.mc/lib/mc-solarized"
    force: yes
  become: yes
  become_user: "{{ zsh_user }}"
  when: zsh_mc_solarized_skin and not zsh_shared

- name: Check fzf installed
  command: which fzf
  changed_when: false
  failed_when: false
  check_mode: no
  register: zsh_register_fzf_command

- name: Set zsh_fzf_path to /usr/local/bin
  set_fact:
    zsh_fzf_path: /usr/local/bin
  changed_when: false
  when: zsh_shared

- name: Set zsh_fzf_path_absolute
  set_fact:
    zsh_fzf_path_absolute: "{{ zsh_fzf_path | replace('$HOME', '~' + zsh_user) }}"
  changed_when: false

- name: Ensure users home binary folder is present
  file:
    path: "{{ zsh_fzf_path_absolute }}"
    owner: "{{ zsh_user }}"
    group: "{{ zsh_user_group }}"
    mode: u=rwx,g=rwx,o=rx
    state: directory
  when: not zsh_shared

- name: Download fzf tarball
  become: yes
  get_url:
    url: "{{ zsh_fzf_url }}"
    dest: "/tmp/fzf-{{ zsh_fzf_version }}.tar.gz"
    mode: '0644'
  when: zsh_register_fzf_command.rc == 1 and ansible_os_family != 'Darwin'

- name: Extract fzf to {{ zsh_fzf_path_absolute }}
  become: yes
  unarchive:
    src: "/tmp/fzf-{{ zsh_fzf_version }}.tar.gz"
    dest: "{{ zsh_fzf_path_absolute }}"
    remote_src: yes
    creates: "{{ zsh_fzf_path_absolute }}/fzf"
  when: zsh_register_fzf_command.rc == 1 and ansible_os_family != 'Darwin'

- name: Remove fzf tarball
  become: yes
  file:
    path: "/tmp/fzf-{{ zsh_fzf_version }}.tar.gz"
    state: absent
  when: zsh_register_fzf_command.rc == 1 and ansible_os_family != 'Darwin'

- name: Set directory permissions
  become: yes
  file:
    name: "{{ zsh_antigen_path }}"
    owner: "{{ zsh_user }}"
    group: "{{ zsh_user_group }}"
    recurse: yes
  changed_when: false
