{
  "segments": [
    "virtual_env",
    "uptime",
    "time",
    "username",
    "hostname",
    "ssh",
    "cwd",
    "git",
    "hg",
    "jobs",
    "read_only",
    "root"
  ],
  "mode": "patched",
  "cwd": {
    "mode": "patched",
    "max_depth": 3
  },
  "time": {
    "format": "%H:%M:%S"
  },
  "vcs": {
     "show_symbol": "true"
  },
  "theme": "{{ zsh_user_dir }}/.config/powerline-shell/powerline-theme.py"
}
